@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden!important;
  max-width: 100%!important;
}

.our_badge {
    @apply text-primary bg-badge border-primary border-[1.5px] py-1 px-4 capitalize font-medium rounded-xl text-sm
}

.primary-btn {
  @apply capitalize font-medium bg-primary text-white px-5 py-2.5 rounded-xl hover:scale-110 transition-all w-fit;
}

.primary-btn {
  box-shadow: 0px 0px 30px rgba(252, 71, 114, 0.7);
}


/* BANNER */

.second-btn {
  @apply border-2 border-primary px-4 py-2 rounded-xl font-semibold capitalize flex w-fit justify-center gap-2 items-center text-primary hover:scale-110 transition-all;
}

.banner {
  @apply text-center min-h-[110vh] flex items-center lg:-mt-[15vh] py-10
}

.banner {
  background-image: url("../assets/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: "center center";
}

.banner > div {
  @apply max-w-[90%] lg:max-w-[1300px] mx-auto
}

.banner h2 {
  @apply font-semibold lg:font-bold leading-snug lg:leading-normal text-slate-950 text-3xl lg:text-5xl md:px-40 mt-6
}

.banner p {
  @apply font-medium text-slate-700 leading-normal text-base lg:text-lg lg:px-40 mt-3
}


/* ABOUT US PAGE */

.about_banner {
  @apply bg-gradient-to-tl to-[#fcf8fb] from-[#e7e1f4];
}

.about_container {
  @apply max-w-[1300px] mx-auto grid grid-cols-2 items-center min-h-[110vh] -mt-[15vh];
}

.about_img {
  @apply w-11/12 h-auto mx-auto;
}
